.bignav{
    background-color: rgb(95, 95, 145) !important;
    
}
.headtext{
    color: rgb(219, 207, 207) !important;
}
.titletext{
    padding-left: 15px;
}

.sidepanel{
   font-size: 15px !important;
   font-weight: 600;
  
    
}